<!DOCTYPE html>
<html th:replace="~{layout/base :: layout(~{::title}, ~{::section})}" lang="en" xmlns:th="http://www.thymeleaf.org">
    <title th:text="${model.title}"></title>
    <section>
        <form th:action="${'/books/' + ${model.id}}" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" name="title" th:value="${model.title}" class="form-control">
            </div>
            <div class="form-group">
                <label for="subtitle">Subtitle</label>
                <input id="subtitle" name="subtitle" th:value="${model.subtitle}" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </section>
</html>

